<div class="champions-container">
  <div class="champions-header">
    <h1>Champions du Patch {{ latestPatch }}</h1>
  </div>

  <div class="champions-grid">
    <div *ngFor="let champion of champions" class="champion-card">
      <a [routerLink]="['/champions', champion.id, latestPatch]">
        <div class="champion-card-content">
          <div class="champion-image-container">
            <img
              [src]="'https://ddragon.leagueoflegends.com/cdn/' + latestPatch + '/img/champion/' + champion.id + '.png'"
              alt="{{ champion.name }}" class="champion-image" />
            <div class="champion-overlay">
              <span class="champion-name">{{ champion.name }}</span>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>